.color-container {
  width: 100%;
  border: solid gray 1px;
}

.color-panel {
  display: inline-block;
  width: 25%;
  text-align: center;
  margin: 5px;
}

.bubblegum-pink, #bubblegum-pink {
  background-color: #FFD6FF;
}

.mauve {
  background-color: #E7C6FF;
}

.fairytale-purple {
  background-color: #C8B6FF;
}

.periwinkle {
  background-color: #B8C0FF;
}

.beach-blue {
  background-color: #BBD0FF;
}

.font-container {
  width: 100%;
  border: solid gray 1px;
}

.font-panel {
  display: inline-block;
  margin: 10px;
  width: 33%;
}

.font-label {
  font-size: 30px;
}

.foldit {
  font-family: Foldit;
}

.inconsolata {
  font-family: Inconsolata;
}

.urbanist {
  font-family: Urbanist;
}

.extralight {
  font-weight: 200;
}

.light {
 font-weight: 300;
}

.regular {
   font-weight: 400;
}

.semibold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.text-styles-container {
  width: 100%;
  border: solid gray 1px;
}

.text-styles-panel {
  margin: 10px;
}

h1 {
  font-family: Foldit;
  font-weight: 400;
  font-size: 3em;
}

h2 {
  font-family: Inconsolata;
  font-weight: 600;
}

p, li {
  font-family: Urbanist;
}
